body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/home_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #18223fb9;
    z-index: -1;
}

header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.ham-menu, .off-screen-menu{
    display: none;
}

.link {
    text-decoration: none;
    padding: 0 10px;
    color: #c91f24;
    font-weight: 600;
    transition: 0.2s;
}

.link:hover {
    color: #e7262d;
}

#logout {
    background-color: #c91f24;
    color: white;
    border-radius: 12px;
    padding: 10px;
    transition: ease-in-out 200ms;
}

#logout:hover {
    background-color: #e7262d;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    padding: 0;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.col {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1vw;
    background-color: white;
    width: 12vw;
    padding: 3vh 0;
    text-align: center;
    border-radius: 15px;
}

@media only screen and (max-width: 800px) {
    body{
        overflow: hidden;
    }
    .link {
        display: none;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .center {
        height: 90vh;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .col {
        width: auto;
        text-wrap: wrap;
    }

    /* Hamburger Menu */

    .off-screen-menu {
        width: 100%;
        height: 100vh;
        max-width: 350px;
        background-color: whitesmoke;
        color: black;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 4vh;
        transition: .3s ease;
    }

    .top{
        margin-top: 10vh;
    }

    #menu-logout{
        background-color: #c91f24;
        color: white;
        padding: 1vh 20vw;
        border-radius: 10px;
    }

    #menu-logout:hover, #menu-logout:active{
        color: white;
        background-color: #e7262d;
    }

    .off-screen-menu ul {
        list-style-type: none;
    }
    
    .off-screen-menu a {
        text-decoration: none;
        color: black;
        transition: .3s ease;
    }

    .off-screen-menu a:hover, .off-screen-menu a:active{
        color: #c91f24;
    }

    .off-screen-menu.active {
        right: 0;
    }

    nav {
        padding: 1rem;
        display: flex;
    }

    .ham-menu {
        display: inherit;
        position: relative;
        height: 40px;
        width: 40px;
        margin-left: auto;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #c91f24;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

}