body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/home_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #18223fb9; 
    z-index: -1;
}

header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.link{
    text-decoration: none;
    padding: 0 10px;
    color: #c91f24;
    font-weight: 600;
    transition: 0.2s;
}

.link:hover{
    color: #e7262d;
}

#logout{
    background-color: #c91f24;
    color: white;
    border-radius: 12px;
    padding: 10px;
    transition: ease-in-out 200ms;
}

#logout:hover{
    background-color: #e7262d;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
    padding: 0;
}

.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1vw;
    background-color: white;
    width: 12vw;
    padding: 3vh 0;
    text-align: center;
    border-radius: 15px;    
}

@media only screen and (max-width: 800px){
    .link{
        display: none;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: auto;
    }

    .center{
        height: 100vh;
    }

    .row{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .col{
        width: auto;
        text-wrap: wrap;
    }
}