body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/home_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #18223fb9;
    z-index: -1;
}

header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.off-screen-menu{
    display: none;
}

.link {
    text-decoration: none;
    padding: 0 10px;
    color: #c91f24;
    font-weight: 600;
    transition: 0.2s;
}

.link:hover {
    color: #e7262d;
}

#logout {
    background-color: #c91f24;
    color: white;
    border-radius: 12px;
    padding: 10px;
    transition: ease-in-out 200ms;
}

#logout:hover {
    background-color: #e7262d;
}

.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-container {
    margin: 50px 0;
    background-color: #fff;
    padding: 2vw 5vw;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 2vw;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2vh;
}

.tab {
    background-color: #e0e0e0;
    border: none;
    padding: 1vh 1vw;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin: 10px;
}

.tab.active {
    background-color: #c91f24;
    color: white;
}

.profile-info {
    text-align: left;
}

.connection-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: start center;
    margin:  0 0 16px 0;
}

#followers, #following{
    font-family: "Nunito", sans-serif;
    margin-top: 1.5vh;
    text-align: center;
    color: rgb(31, 31, 31);
    font-weight: 600;
}

#count{
    font-family: "Nunito", sans-serif;
    font-size: large;
    font-weight: 700;
    margin-top: 0;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid rgb(132, 132, 132);
    object-fit: cover;
}

p {
    text-align: center;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

#name {
    text-align: center;
    background-color: white;
    border: none;
    font-size: x-large;
    width: 50%;
}

.phone-input {
    display: flex;
    align-items: center;
}

#mobile-code {
    width: calc(10% - 10px);
    margin-right: 10px;
}

.phone-input input:last-child {
    width: calc(80% - 10px);
    margin-right: 0;
}

.continue-btn,
.back-btn {
    background-color: #c91f24;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 0.5vw;
}

input[type="submit"] {
    width: 99%;
}

.row {
    display: grid;
    grid-template-rows: 0.1fr 0.1fr;
    margin-top: 0;
}

.col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3%;
}

.pfpUpdate {
    width: 20%;
    background-color: #c91f24;
    color: white;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 5px;
    border: none;
}

#address,
#country,
#mobile-number,
#cEmployment{
    width: 95%;
}


@media only screen and (max-height: 1400px) and (min-height:1100px){
    body{
        height: 100vh;
    }

    .profile-container{
        margin: 20% 0;
    }
}

@media only screen and (max-width:800px) {

    header {
        position: fixed;
        top: 0;
        height: 5vh;
        width: 100%;
    }

    .head {
        position: fixed;
        height: 5vh;
        width: 90%;
    }

    .link {
        display: none;
    }

    /* Hamburger Menu */

    .off-screen-menu {
        width: 100%;
        height: 100vh;
        max-width: 350px;
        background-color: whitesmoke;
        color: black;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 4vh;
        transition: .3s ease;
    }

    .top {
        margin-top: 10vh;
    }

    #menu-logout {
        background-color: #c91f24;
        color: white;
        padding: 1vh 20vw;
        border-radius: 10px;
    }

    #menu-logout:hover,
    #menu-logout:active {
        color: white;
        background-color: #e7262d;
    }

    .off-screen-menu ul {
        list-style-type: none;
    }

    .off-screen-menu a {
        text-decoration: none;
        color: black;
        transition: .3s ease;
    }

    .off-screen-menu a:hover,
    .off-screen-menu a:active {
        color: #c91f24;
    }

    .off-screen-menu.active {
        right: 0;
    }

    nav {
        padding: 1rem;
        display: flex;
    }

    .ham-menu {
        display: inherit;
        position: relative;
        height: 40px;
        width: 40px;
        margin-left: auto;
        z-index: 100;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #c91f24;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .space {
        height: 10vh;
    }
}

/* FOR friendProfile */

.profile-info h2{
    margin-top: 0;
    font-family: "Nunito", sans-serif;
}

#frname{
    font-size: small;
    background-color: gray;
    color: rgb(31, 31, 31);
    border-radius: 12px;
    padding: 0 5px;
}