body{   
    margin: 0;
    padding: 0;
    overflow: scroll;
}

.pcenter{
    margin: 10% 0%;
}

.login-form{
    width: 50vw;
}

.row{
    display: grid;
    grid-template-rows: 0.1fr 0.1fr;
    margin-top: 0;
}

.col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
}

#fname,#lname,#mobile,#email,#address,#city,#dist,#state,#pcode,#username,#password{
    width: 95%;
}

.login-form input[type="submit"] {
    margin-top: 0;
}

@media only screen and (max-width: 800px) {
    .login-form{
        width: 75vw;
    }

    .row, .col{
        display: block;
    }
}