body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/home_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #18223fb9;
    z-index: -1;
}

.center {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.off-screen-menu,
.ham-menu {
    display: none;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.link {
    text-decoration: none;
    padding: 0 10px;
    color: #c91f24;
    font-weight: 600;
    transition: 0.2s;
}

.link:hover {
    color: #e7262d;
}

#logout {
    background-color: #c91f24;
    color: white;
    border-radius: 12px;
    padding: 10px;
    transition: ease-in-out 200ms;
}

#logout:hover {
    background-color: #e7262d;
}

.SearchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.tabs {
    margin: 1vh 0;
    display: flex;
    justify-content: center;
}

.tab {
    background-color: #e0e0e0;
    border: none;
    padding: 1vh 1vw;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    margin: 10px;
}

.tab.active {
    background-color: #c91f24;
    color: white;
}

.ResultContainer {
    padding: 20px;
    background-color: white;
    width: 80%;
    height: 400px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: scroll;
}

.box {
    background-color: white;
    padding: 5vh 7vw;
    border-radius: 10px;
    text-align: center;
}

.box h2 {
    margin-top: 0;
    text-align: center;
}

.box input,
.box select {
    width: 10vw;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box #search {
    background-image: url("../assets/images/magnifying-glass.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 80px;
    text-align: right;
    padding: 10px;
    background-color: #c91f24;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box button:hover {
    background-color: #e7262d;
}

.alumni-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#recommendText {
    display: flex;
    justify-content: left;
    margin: 0 auto;
    width: 80%;
    color: grey;
}

.recommendations {
    display: flex;
    width: 75%;
    min-height: 150px;
    overflow-x: scroll;
    background-color: #f7f7f7;
    margin-top: 5px;
    border-radius: 5px;
}

#friends {
    display: flex;
    flex-direction: column;
}

#friendProfile {
    display: block;
    text-decoration: none;
    color: black;
}

#iframe-container {
    background-color: #18223fb9;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#friendView {
    z-index: 2;
    position: absolute;
    top: 20vh;
    left: 35%;
    height: 61vh;
    width: 35%;
    border-radius: 16px;
    transition: ease-in 0.5s;
}

.recommendations .alumni-box {
    width: 100px;
    height: 150px;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: grey;
}

.alumni-box {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 2vw;
    width: 200px;
    height: 200px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.recommendations .alumni-name {
    height: 50px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.alumni-info .alumni-name {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}

.alumni-info .alumni-detail {
    font-size: 14px;
    color: #777;
}

.connect-button {
    background-color: #5bc0de;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.connect-button:hover {
    background-color: #31b0d5;
}

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
}

@media only screen and (max-height: 1400px) and (min-height:1100px) {
    body {
        height: 100vh;
    }
}

@media only screen and (max-width:800px) {

    header {
        position: fixed;
        top: 0;
        height: 5vh;
        width: 100%;
    }

    .head {
        position: fixed;
        height: 5vh;
        width: 90%;
    }

    .link {
        display: none;
    }

    /* Hamburger Menu */

    .off-screen-menu {
        width: 100%;
        height: 100vh;
        max-width: 350px;
        background-color: whitesmoke;
        color: black;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        font-size: 4vh;
        transition: .3s ease;
    }

    .top {
        margin-top: 10vh;
    }

    #menu-logout {
        background-color: #c91f24;
        color: white;
        padding: 1vh 20vw;
        border-radius: 10px;
    }

    #menu-logout:hover,
    #menu-logout:active {
        color: white;
        background-color: #e7262d;
    }

    .off-screen-menu ul {
        list-style-type: none;
    }

    .off-screen-menu a {
        text-decoration: none;
        color: black;
        transition: .3s ease;
    }

    .off-screen-menu a:hover,
    .off-screen-menu a:active {
        color: #c91f24;
    }

    .off-screen-menu.active {
        right: 0;
    }

    nav {
        padding: 1rem;
        display: flex;
    }

    .ham-menu {
        display: inherit;
        position: relative;
        height: 40px;
        width: 40px;
        margin-left: auto;
        z-index: 100;
    }

    .ham-menu span {
        height: 5px;
        width: 100%;
        background-color: #c91f24;
        border-radius: 25px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: .3s ease;
    }

    .ham-menu span:nth-child(1) {
        top: 25%;
    }

    .ham-menu span:nth-child(3) {
        top: 75%;
    }

    .ham-menu.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham-menu.active span:nth-child(2) {
        opacity: 0;
    }

    .ham-menu.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .space {
        height: 10vh;
    }

    .box input,
    .box select {
        width: 80vw;
    }

    .SearchContainer {
        z-index: -1;
    }

    .alumni-grid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .alumni-box {
        display: flex;
        justify-content: space-between;
        height: auto;
    }

    .recommendations .alumni-box {
        width: 200px;
        height: 100px;
    }

    .box #search {
        width: 100%;
        background-position: 35%;
        text-align: center;
    }

}