body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../assets/images/home_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: scroll;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #18223fb9; 
    z-index: -1;
}

header {
    background-color: #f7f7f7;
    padding: 20px;
    text-align: center;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.link{
    text-decoration: none;
    padding: 0 10px;
    color: #c91f24;
    font-weight: 600;
    transition: 0.2s;
}

.link:hover{
    color: #e7262d;
}

#logout{
    background-color: #c91f24;
    color: white;
    border-radius: 12px;
    padding: 10px;
    transition: ease-in-out 200ms;
}

#logout:hover{
    background-color: #e7262d;
}

.SearchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.ResultContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7vh;
}

.box {
    background-color: white;
    padding: 5vh 7vw;
    border-radius: 10px;
    text-align: center;
}

.box h2 {
    text-align: center;
}

.box input,
.box select {
    width: 10vw;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box button {
    width: 100%;
    padding: 10px;
    background-color: #c91f24;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.box button:hover {
    background-color: #e7262d;
}
